.highlight {
  color: red;
}
.react-calendar {
  width: 100% !important;
}
.details-container {
  margin: 25px;
}
.react-calendar__tile {
  margin: 3px 0px !important;
}
.react-calender {
  border: 1px solid #dee2e6 !important;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.suggestion-text {
  text-align: center;
  color: #5f6368;
  padding-top: 15px;
}
.card-box-shadow {
  border-radius: 16px;
  box-shadow: 0 0 1px rgba(12, 26, 75, 24%), 0 3px 8px -1px rgba(50, 50, 71, 5%);
  padding: 24px 24px 32px 24px;
}
.details-image-container{
 position: absolute;
  left: 42%;
  top: -50%;
  background-color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px rgba(12, 26, 75, 24%), 0 3px 8px -1px rgba(50, 50, 71, 5%);
}
.details-image {
  max-height: 80px;
}
