@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
h6 {
  padding: 0px;
  margin: 0px;
}
p {
  padding: 0px;
  margin: 0px;
}
.user-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.doctor-name {
  font-size: 24px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: #255396;
}
.hospital-name {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #425466;
  padding-left: 5px;
}
.hospital-name-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card-box-shadow {
  border-radius: 16px;
  box-shadow: 0 0 1px rgba(12, 26, 75, 24%), 0 3px 8px -1px rgba(50, 50, 71, 5%);
  padding: 24px 24px 32px 24px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
li {
  padding: 0px;
  margin: 0px;
}
.schedule-title{
  font-family: "Roboto", sans-serif;
  color: #255396;
}
.schedule-style {
  color: #7e8086d6;
  font-weight: 300;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
.hospital-img{
  width: 15px;
  height: 15px;
  vertical-align: text-top;
}
.appointment-btn{
  color: #fff !important;
  background-color: #255396 !important;
  border-color: #255396 !important;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
